@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .vh-100 {
        max-height: 100vh;
        position: relative;
    }

    .background-image {
        background-image: url('https://i.imgur.com/u06D3x8.jpg');
        /* Hiển thị toàn bộ chiều ngang của hình ảnh mà không cắt bớt */
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100%;
    }

    /* Các quy tắc CSS khác cho trang của bạn */
</style>

<div class="row vh-100">
    <div class="background-image">
    </div>
</div>